body {
    background-color: #1e103c;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding: 20px;
}
.back {
    color: #00ffcc;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
}
.game-box {
    background: #321c59;
    padding: 30px;
    border-radius: 10px;
    display: inline-block;
}
#word {
    font-size: 2rem;
    letter-spacing: 10px;
    font-family: monospace;
    margin: 20px 0;
}
input {
    padding: 10px;
    width: 40px;
    text-align: center;
    text-transform: uppercase;   
}
button {
    padding: 10px 20px;
    background: #ff007f;
    color: white;
    border: none;
    cursor: pointer;
}
.restart-btn {
    padding: 10px 20px;
    background: #ff007f;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}